<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Thunk</title>

	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<script src="/socket.io/socket.io.js"></script>
</head>

<body>
	{% block body %}{% endblock %}
	<script>
		document.addEventListener('DOMContentLoaded', function () {

			// this is our global variable
			thunkidm = {
				global: true, // this doesn't serve any purpose
				socket: null,
				ctaButtons: null
			};

			thunkidm.socket = io();
			thunkidm.ctaButtons = document.querySelectorAll('section.cta button');
			let form = document.querySelector('form');

			let handleFormSubmit = (__form, __eventCode) => {
				let formDataEntries = Object.fromEntries(new FormData(__form).entries());
				thunkidm.socket.emit(__eventCode, formDataEntries);
			}

			for (let button of thunkidm.ctaButtons) {
				button.addEventListener('click', (e) => {
					handleFormSubmit(form, button.dataset.socketEmit);
				});
			}

			form.addEventListener('submit', (e) => {
				e.preventDefault();
				// TODO: Add form submission for correct socket event
				return false;
			});
		});
	</script>

	{% block postScript %}{% endblock %}
</body>

</html>