{% extends "layouts/main.html" %}

{% block body %}
<div role="banner" class="banner">
	<!-- flowy background -->
</div>
<main>
	<header class="title">
		<!-- current page title or system prompt/feedback -->
		<div class="brand-mark component">
			<!-- for use on landing and room join -->
		</div>
		<div class="game-title no-outline component">
			<!-- in the case of the pink box, this would be class="outline" -->
            <h1>Instructions</h1>
			<!-- during a round the h1 would be a prompt, so content might be "TFOML" -->
			<!-- otherwise it may be "round 3 scores", "player 4 wins", "final scores" -->
		</div>
	</header>
	<section class="primary">
		<!-- description of main header, or forms/primary interactions -->
		<div class="hosting-instructions component">
			<ol>
				<li>Go to <span class="red-text">thunk.fun</span> on your device browser</li>
				<li>Wait for host to display room code</li>     
				<li>Join the game using the room code</li>
				<li>Wait for other players to join in</li>
				<li>Thunk those good thunks and have fun!</li>
			</ol>
		</div>
	</section>
	<section class="cta">
		<!-- if the primary section is a description, calls to action go here -->
		<div class="create-room component">
			<button data-socket-emit="create room">Create Room</button>
		</div>
		{# A form used for directing oneself between all the views of the program. Used for debugging. DELETE BEFORE FINAL (MARCH) COMMIT! #}
		{% include "partials/debug-nav.njk" %}
	</section>
	<section role="status" class="system-status component">
		<!-- non-interactive system feedback -->
		<div class="closed-captions component">
			<!-- narration captions -->
		</div>
	</section>
</main>
{% endblock %}

{% block postScript %}
{% endblock %}