{% extends "layouts/main.html" %}

{% block body %}
<div role="banner" class="banner">
	<!-- flowy background -->
</div>
<main>
	<header class="title">
		<!-- current page title or system prompt/feedback -->
		<div class="brand-mark">
			<!-- for use on landing and room join -->
		</div>
		<div class="game-title no-outline">
			<!-- in the case of the pink box, this would be class="outline" -->
			<h1>Welcome</h1>
            <span class="subtitle">Please enter a room code</span>
			<!-- during a round the h1 would be a prompt, so content might be "TFOML" -->
			<!-- otherwise it may be "round 3 scores", "player 4 wins", "final scores" -->
		</div>
	</header>
	<section class="primary">
		<!-- description of main header, or forms/primary interactions -->
		<div class="room-code-form">
			<form action="">
				<div class="input-wrap">
					<input type="text" name="rm-code" id="rm-code">
				</div>
			</form>
		</div>
	</section>
	<section class="cta">
		<!-- if the primary section is a description, calls to action go here -->
		<div class="submit-room-code">
			<button data-socket-emit="submit room code">Join Room</button>
		</div>
		{# A form used for directing oneself between all the views of the program. Used for debugging. DELETE BEFORE FINAL (MARCH) COMMIT! #}
		{% include "partials/debug-nav.njk" %}
	</section>
</main>
{% endblock %}

{% block postScript %}
{% endblock %}