{% extends "layouts/main.html" %}

{% block body %}
<div role="banner" class="banner">
	<!-- flowy background -->
</div>
<main>
	<section class="primary">
		<div class="selected-avatar">
			<div id="player-4" class="player">
				<span class="pl-avi"></span>
				<p class="pl-name">Player 4</p>
			</div>
		</div>
	</section>
	<section class="cta">
		<h3>Everbody's in?</h3>
		<button data-socket-emit="start game">Start Game</button>
		<!-- if the primary section is a description, calls to action go here -->
		{# A form used for directing oneself between all the views of the program. Used for debugging. DELETE BEFORE FINAL (MARCH) COMMIT! #}
		{% include "partials/debug-nav.njk" %}
	</section>
	<section role="status" class="system-status">
		<!-- non-interactive system feedback -->
	</section>
</main>
{% endblock %}

{% block postScript %}
{% endblock %}