{% extends "layouts/main.html" %}

{% block body %}
<div role="banner" class="banner">
	<!-- flowy background -->
</div>
<main>
	<section class="cta">
		<!-- if the primary section is a description, calls to action go here -->
		{# A form used for directing oneself between all the views of the program. Used for debugging. DELETE BEFORE FINAL (MARCH) COMMIT! #}
		{% include "partials/debug-nav.njk" %}
	</section>
	<section role="status" class="system-status">
		<!-- non-interactive system feedback -->
		<div class="closed-captions">
			<!-- narration captions -->
		</div>
		<div class="room-code-display">
			<!-- room code that persists in btm right during a round -->
		</div>
	</section>
</main>
{% endblock %}

{% block postScript %}
{% endblock %}