* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-bg-color: #F1F1F1;
  --pl-red: #EB5757;
  --pl-orange: #F2994A;
  --pl-yellow: #F2C94C;
  --pl-green: #219653;
  --pl-blue: #2F80ED;
  --pl-mediumBlue: #2D9CDB;
  --pl-lightGreen: #6FCF97;
  --pl-purple: #A157FF;
  --pl-magenta: #F25AF5;
  --pl-teal: #62EDE5;
  --pl-lime: #DAEB70;
  --pl-violet: #6F4FED;
  --thunk-pink: #ED1968;
}

html {
  font-size: 100%; /* Set font size to user preference */
  font-family: Arial, Helvetica, sans-serif; /* Websafe */
}

body {
  width: 100%;
  height: 100vh; /* ! May need to rework this later, height 100% does not work properly */
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 6rem;
  text-align: center;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

/* ! Remove these styles once alpha is built */
#tempNav {
  background-color: #000;
  padding: .5rem;
  color: #fff;
}

#tempNav a {
  color: #fff;
  margin-right: .25rem;
  display: inline-block;
}
/* ! --------------------------------------- */

#splash {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#splash > h1 {
  font-size: 9rem;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.box-gray {
  background-color: var(--gray-bg-color, LightGrey); 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.box-gray * {
  margin: 0;
  text-align: center;
}

#instructions {
  width: 49.375rem;
}

#instructions > p {
  font-size: 2.75rem;
  line-height: 2;
}

#code, #prompt {
  min-width: 40rem;
  max-width: 60rem;
}

#code > p {
  font-size: 4.5rem;
  font-weight: bold;
}

button {
  min-width: 20rem;
  /*! height: 5rem; */

  /* clear defaults */
  background: none;
  box-shadow: none;
  border: none;

  background-color: var(--gray-bg-color, LightGrey);
  font-size: 2.5rem;
  margin: 2rem 0;
  padding: 1rem 3rem;
}

#connected-players {
  max-width: 90%;
  height: 17rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.player {
  width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.pl-avi {
  content: "";
  display: block;
  width: 5.25rem;
  height: 5.25rem;
  background-color: #000;
  margin-bottom: .25rem;
  border-radius: 50%;
}

#player-1 > .pl-avi {
  background-color: var(--pl-red, Red);
}
#player-2 > .pl-avi {
  background-color: var(--pl-orange, Orange);
}
#player-3 > .pl-avi {
  background-color: var(--pl-yellow, Yellow);
}
#player-4 > .pl-avi {
  background-color: var(--pl-green, Green);
}
#player-5 > .pl-avi {
  background-color: var(--pl-blue, Blue);
}
#player-6 > .pl-avi {
  background-color: var(--pl-mediumBlue, CornflowerBlue);
}
#player-7 > .pl-avi {
  background-color: var(--pl-lightGreen, LightGreen);
}
#player-8 > .pl-avi {
  background-color: var(--pl-purple, Purple);
}

.pl-name {
  font-weight: bold;
}

#code-fixed {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

#prompt-instructions > h3, #switch-up > h3 {
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 0 .5rem;
  text-transform: uppercase;
}

#prompt-instructions > p, #switch-up > p {
  font-size: 1.5rem;
}

#timer {
  width: 80%;
  max-width: 60rem;
  height: 3rem;
  position: absolute;
  bottom: .5rem;
  padding: 0;
}

#timer-bar {
  height: 100%;
  width: 100%;
  background-color: var(--thunk-pink, pink);
}